@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
    font-family: 'Almarai', sans-serif;
}
.grayProblem {
    font-size: 10pt;
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #131527;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00b630;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00b630;
}

